body {
  margin: 0;
}
.container {
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
  justify-content: center;
  border-bottom: 1.5px solid rgb(197, 197, 197);
  border-top: 1.5px solid rgb(197, 197, 197);
  height: 50px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.inhead {
  display: flex;
  flex-direction: row;
  gap: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}
.rhead {
  margin-left: 260px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 15px;
}
.BOXES {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 1650px;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
}
.BOX1 {
  width: 470px;
}
.BOX1 img {
  width: 470px;
}
.SMALLCONTAINERS {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 1650px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.CONTAINER1 {
  width: 320px;
}
.CONTAINER1 img {
  width: 320px;
}
.CONTAINER2 {
  width: 450px;
}
.CONTAINER2 p {
  border-left: 3px solid green;
  border-bottom: 1.5px solid rgb(209, 209, 209);
  font-family: serif;
  font-size: 18px;
  font-weight: 900;
  padding: 10px;
}
.over {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.mini {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 1470px;
  gap: 20px;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  padding-left: 80px;
}
.minibox {
  width: 230px;
  border: 1.3px solid rgb(183, 181, 181);
}
.minibox img {
  width: 230px;
}
.page2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.page3 {
  margin-top: 60px;
  color: white;
  background-image: url(bg.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-bottom: 70px;
}
button {
  padding: 10px;
  background-color: green;
  border: 2px solid green;
}
button:hover {
  transition: 0.3s;
  background-color: rgba(240, 248, 255, 0);
  border: 2px solid green;
  color: white;
}
.box {
  margin-bottom: 155px;
  display: flex;
  flex-direction: row;
}
.page4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  gap: 28px;
}
.page5 {
  margin-top: 80px;
  background-color: rgba(128, 128, 128, 0.12);
  padding-bottom: 20px;
}
.in img {
  width: 230px;
}
.in {
  width: 230px;
  border: 1.3px solid rgb(183, 181, 181);
}
.inout {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  width: 1470px;
  gap: 20px;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  padding-left: 140px;
}
.about {
  display: flex;
  gap: 60px;
  padding: 80px 120px;
  background: white;
}

.aboutleft {
  width: 35%;
}

.aboutsmall {
  color: green;
  font-weight: 600;
  letter-spacing: 2px;
}

.aboutleft h1 {
  font-size: 48px;
}

.aboutdesc {
  font-size: 16px;
  line-height: 26px;
}

.aboutleft a {
  color: green;
  text-decoration: none;
  font-weight: 600;
}

.aboutright {
  width: 65%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.aboutright .card {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 25px;
}

.bigcard {
  grid-column: span 4;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 200px;
  font-size: 22px;
}
.ppp {
  display: flex;
  flex-direction: column;
  width: 720px;
}
.footer {
  border-top: 4px solid green;
  padding: 50px 80px 20px;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-col p {
  margin: 8px 0;
  cursor: pointer;
}

.logo-col h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.socials {
  font-size: 18px;
  cursor: pointer;
  margin: 0%;
}

.contact-btn {
  margin-top: 15px;
  background: green;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.subscribe p {
  margin-bottom: 10px;
}

.sub-box {
  display: flex;
  gap: 10px;
}

.sub-box input {
  padding: 10px;
  width: 250px;
  border: 1px solid #ccc;
}

.sub-box button {
  background: green;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.burger {
  display: none;
}
.menu {
  display: none;
}

@media screen and (max-width: 468px) {
  .container {
    width: 468px;
    padding: 10px;
    overflow: hidden;
  }
  .header {
    gap: 10px;
    position: none;
  }
  .rhead {
    margin-left: 0px;
  }
  .page1 {
    width: 468px;
  }
  .BOXES {
    width: 468px;
    flex-direction: column;
  }
  .SMALLCONTAINERS {
    width: 468px;
    flex-direction: column;
  }
  .over {
    width: 468px;
    flex-direction: column;
    gap: 50px;
  }
  .over img {
    width: 100px;
    object-fit: cover;
  }
  .CONTAINER1 {
    display: flex;
    flex-direction: row;
    width: 468px;
    height: 100px;
    overflow: hidden;
  }
  .page3 {
    width: 468px;
    margin-top: 60px;
    color: white;
    background-image: url(bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 468px;
  }
  .page3 p {
    width: 300px;
    font-size: 15px;
  }
  .CONTAINER1 h4 {
    font-size: 5px;
  }
  .page2 h1 {
    margin-left: 0% !important;
  }
  .page2 P {
    margin-left: 0% !important;
  }
  .mini {
    display: flex;
    padding-left: 0% !important;
    width: 468px;
  }
  .ou {
    display: none;
  }
  .bou p {
    font-size: 30px !important;
  }
  .m {
    justify-content: center !important;
    gap: 30px !important;
  }

  .m h1 {
    font-size: 30px !important;
  }
  .page2 h1,
  .page2 p {
    width: 440px;
    padding: 5px;
  }
  .page4 {
    display: flex;
    flex-direction: column;
    width: 468px;
    justify-items: center;
    align-items: start;
  }
  .page4 h1 {
    font-size: 35px;
  }
  .ppp {
    width: 470px;
  }
  .about {
    display: flex;
    flex-direction: column;
  }
  .aboutleft {
    width: 440px;
  }
  .aboutright {
    width: 440px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .bigcard {
    grid-column: span 1;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
  .box img {
    width: 460px;
  }
  .inout {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    width: 468px;
    gap: 20px;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    padding-left: 40px;
  }
  .inhead {
    display: none;
  }
  .about {
    padding: 0%;
  }
  .box {
    margin: 0%;
  }
  .card {
    width: 468px !important;
  }
  .footer {
    padding: none !important;
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-col {
    border: none !important;
  }
  .page3 h1 {
    font-size: 40px !important;
    width: 400px !important;
  }
  .burger {
    display: flex;
  }
  .menu {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .topmenu {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.587);
  }
  .lop {
    display: flex;
  }
}
